body{
    width:7.5rem;
    margin:0 auto;
   
}
*{
    font-style: PingFang-SC-Regular; 
    font-weight: 4rem; 
}
#gotoPay h2{
    font-weight: 4rem;
    font-size: .36rem;
    line-height: 1.1rem;
    text-align: center;
    color: #333333;
    background: url(../static/myorderAll_slices/houtui.png) no-repeat .3rem;
    border-bottom:.1rem solid rgba(204,204,204, 0.2);
}
h3{
    font-size:.3rem;
    line-height:.85rem;
    margin-left:.3rem;
    font-weight:5rem;
    border-bottom:.01rem solid rgba(204,204,204, 0.2);
}
#addrD{
    height:2.4rem;
    border-bottom:.1rem solid rgba(204,204,204, 0.2);
}
#addrDetail{
    padding:0 .44rem;
    width:5.1rem;

}
#gotoPay #addrDetail p:first-child{
    font-size:.3rem;
    line-height:.6rem;
    font-weight:5rem;


}
#gotoPay  #addrDetail p:last-child{
    font-size:.24rem;
    color:#999;
    line-height:.3rem;
    margin-top:.1rem;
}
#gotoPay  #addrDetail p .person{
    margin-right:.6rem;
  
}
#myChoi #choic{
    width:100%;   
}
#myChoi #choic .orderGoods{
    position: relative;
    margin: .22rem .22rem 0 .22rem;
    padding-bottom:.3rem;
    /* border-bottom:.01rem solid rgba(204,204,204, 0.2); */

}
#myChoi #choic .orderGoods .goodsImg{
    width:2.08rem;
    height:2.08rem;
}
#myChoi #choic .orderGoods .goodsImg img{
    width:100%;
   
}
#myChoi #choic .orderGoods .goodsS{
    position: absolute;
    left:2.2rem;
    top:.15rem;
    width:4.75rem;
    height:2.08rem;

    /* overflow: hidden; */
}
#myChoi #choic .orderGoods .goodsS .GoodsName{
    font-size:.26rem;
    font-weight: 4rem; 
    line-height:.42rem;
    width:3.75rem;
    height:.67rem;  
}
#myChoi #choic .orderGoods .goodsS .goodsSpe{
    /* position: absolute; */
    padding-top:.25rem;
    height:.35rem;
    /* display: inline-block; */
    
    /* top:.7rem;
    left:0 */
}
#myChoi #choic .orderGoods .goodsS .goodsSpe .speci{
    /* display:inline-block; */
    font-size:0.22rem;
    font-weight: 4rem; 
    color:#666;
    line-height:.3rem;
    vertical-align: top;
}
#myChoi #choic .orderGoods .goodsSpe .instore{
    display:inline-block;
    font-size:0.20rem;
    font-weight: 4rem; 
    color:#FFB032;
    width:.6rem;
    height:.3rem;
    line-height:.3rem;
    text-align: center;
    border:.01rem dotted #FFB032;
    vertical-align: top;
    margin-left:.4rem;
}
#myChoi #choic .orderGoods .goodsS .price{
    font-size:.36rem;
    font-weight: 4rem; 
    color:#FD5B56;
    line-height:.65rem;
    
}
#myChoi #choic .orderGoods .goodsS .goodsNum{
    font-size:.26rem;
    font-weight: 4rem; 
    color:#666;
    position: absolute;
    top:0.5rem;
    right:0.3rem;
}


/* jifen开始 */
#jifenP{
    font-size:.28rem;
    padding: 0 .31rem .5rem .31rem;
    border-top: .05rem solid rgba(204,204,204, 0.2);
    border-bottom: .05rem solid rgba(204,204,204, 0.2);
}
#jifenP p{
    height:.75rem;
    line-height:.75rem;
    background: url(../static/img/gouxuan2.png) no-repeat right;
    background-size:.34rem;
    border-bottom:.01rem solid rgba(204,204,204, 0.2); 

}
#jifenP .sF,#jifenP .cF{
    padding-left:.5rem;
}

#jifenP .sF{
    background: url(../static/mine/gouwujf.png) no-repeat left;
}
#jifenP .cF{
    background: url(../static/mine/xiaji.png) no-repeat left;
}
#jifenP .shopF .sTotal,#jifenP .cashF .cTotal{
    color:#FFB032;
    margin-left:.5rem;
 }

 /* notes开始 */
 #noteS{
     border-bottom:.05rem solid rgba(204,204,204, 0.2);
 }
 #noteS h3{
     border-bottom:none;
 }

 #noteS textarea{
     font-size:.26rem;
     width:6.4rem;
     height:1.82rem;
     padding:.2rem;   
     border:.01rem solid rgba(204,204,204, 0.2); 
     margin:0 .3rem .2rem ;
 }
 #footer{
    overflow: hidden;
    position: fixed;
    bottom:.1rem;
    height:1.4rem;
    background:#fff;
 }
 #footer .total{
    font-size:.28rem;
    line-height:1rem;
 }
 #footer .money{
    font-size:.3rem;
    color:#FD5B56;
    line-height:1rem;
 }
 #footer input{
    /* position: absolute;
    right:0;
    bottom:0; */
    display: inline-block;
    font-size:.32rem;
    color:#fff;
    margin-left: 2.35rem;

    background:#FF8932;
    width:2.35rem;
    height:1rem;
    border:.01rem solid #FF8932;
 }
 #footer .total{
     margin-right:.3rem;
     margin-left:.32rem;
 }
